{% extends 'base.html' %}

 <!-- anything here will override anything inside base.html blockhead -->

{% block title %}
Change Password
{% endblock %}

{% block content %}

  <!-- Portfolio Grid Section -->
    <div class="container" style="padding-top: 6rem; padding-bottom: 3rem">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card text-white bg-info mx-auto">
                  <div class="card-header"><h3>Login</h3></div>
                  <div class="card-body">
                      <form method="post">{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <blockquote class="blockquote text-left">
                                  <p class="mb-0"><b>Old Password</b></p>
                                </blockquote>
                              <div class="input-group">
                                  {{ form.old_password }}
                                  <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                  {{ form.errors.old_password }}
                                </div>
                            </div>
                          </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <blockquote class="blockquote text-left">
                                  <p class="mb-0"><b>New Password</b></p>
                                </blockquote>
                                <div class="input-group">
                                  {{ form.new_password1 }}
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                  {{ form.errors.new_password1 }}
                                </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-12">
                                <blockquote class="blockquote text-left">
                                  <p class="mb-0"><b>Retype New Password</b></p>
                                </blockquote>
                                <div class="input-group">
                                  {{ form.new_password2 }}
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                  {{ form.errors.new_password2 }}
                                </div>
                            </div>
                          </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <button class="btn btn-success col-12"><b>Save</b></button>
                            </div>
                        </div>
                          <input type="hidden" name="next" value="{% url 'accounts:view_profile' %}">
                      </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block contents %}
<div class="container">

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" name="button">Submit</button>
    </form>



</div>


{% endblock %}
