{% extends 'base.html'%}


{% block content %}
<div class="container" style="padding-top: 6rem; padding-bottom: 3rem">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card text-white bg-info mx-auto">
                  <div class="card-header"><h3>Reset Password</h3></div>
                  <div class="card-body">
                      <p>
                          Forgotten your password? <br>Enter your email address below,
                          and we'll email instructions for setting a new one.

                        </p>
                      <form method="post">{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <blockquote class="blockquote text-left">
                                  <p class="mb-0"><b>Email</b></p>
                                </blockquote>
                              <div class="input-group">
                                  {{ form.email }}
                                  <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <button class="btn btn-success col-12"><b>Reset Password</b></button>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">


<h1>Password Reset</h1>
<p>
  Forgotten your password? Enter your email address below,
  and we'll email instructions for setting a new one.

</p>
<h2>Login</h2>
<form method = "post">
  {% csrf_token %}
  {{ form.as_p }} <!-- form as paragraph -->
<button type="submit" name="button">Reset password</button>
</form>
</div>
<!-- data that we're submitting through that form is secure -->
{% endblock %}
